.siteHeader {
	background-color: hsl(240, 60%, 60%);
	height: 10em;
	padding: 2em 5em;
	&__siteBrand {
		color: white;
		text-decoration: none;
	}
}

.primaryNavigation {
	&__menu {
		display: flex;
		list-style: none;
		justify-content: space-between;

	}
}