@use "./slider";
@use "./progress";
:root {
    --mainBg: mediumpurple;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

$light-text: moccasin;

body {
    background-color: var(--mainBg);
    color: $light-text;
}

.pokesection {
    padding: 1rem;
   h1 {
        font-size: xx-large;
        text-align: center;
    }
}

.pokeListItem{
    text-transform: capitalize;
    font-size: x-large;
    padding: 1.5em;
    list-style: none;
    text-align: center;
}

.article{
    text-align: center;
    margin: auto;
    width: 70%;
    font-size: large;
    padding: 1em;
}

html, body{
    scroll-behavior: smooth;

}

.backToTop{
    margin: 2em auto;
    display: block;
    width: 120px;
    padding: .5em;
    height: 70px;
    border: 5px solid white;
    text-transform: uppercase;
    cursor: pointer;
    color: white;
    text-decoration: none;
}
